<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>TurkDPI</vendor>
  <vendor_url>https://github.com/bol-van/zapret</vendor_url>
  <action id="org.turkdpi.manage">
    <description>TurkDPI ağ kurallarını ve DNS şablonunu yönet</description>
    <message>TurkDPI için yerel ağ kurallarını veya DNS ayarını değiştirmek üzere kimlik doğrulaması gerekiyor</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/turkdpi-service</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
